.JoinPage{
    background-color: rgb(31, 29, 29);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
   border: 2px solid white;
   height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.JoinContainer > img{
    width: 10vmax;
}

.JoinContainer > h1{
    font-size: 3vmax;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 25max;
    text-align: center;
    border-bottom: 0.2vmax solid white;
    padding: 1vmax;
    box-sizing: border-box;
}

.JoinContainer > input{
    width: 25vmax;
    border-radius: 0.5vmax;
    border: none;
    outline: none;
    padding: 1.5vmax;
    font-size: 1.2vmax;
    font-family: 'Roboto', sans-serif;
    margin: 2vmax;
    box-sizing: border-box;
}

.JoinButton{
    background-color: rgb(159, 184, 186);
    border: 0.2vmax solid white;
    border-radius: 0.5vmax;
    padding: 1.5vmax;
    font-size: 1.2vmax;
    width: 25vmax;
    margin: 1vmax;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.JoinButton:hover{
    background-color: rgb(172, 227, 231);
    color: black;
}